/node_modules
/src
/example
/.git
.babelrc
.eslintrc.js
.prettierrc.js
.watchmanconfig
tsconfig.json
jest.config.js
metro.config.js
App.jsx
index.js
android/
ios/
__tests__/
vendor/
coverage/
.bundle/
Gemfile
Gemfile.lock
babel.config.js
app.json